body {
  font-family: 'PT Sans';
  min-height: 100vh;
  background: linear-gradient(46deg, #4b1466, #66144b);
  display: flex;
  align-items: center;
  color: #333;
}

.box {
  margin: auto;
  flex: 0 200px 800px;
  background: white;
  box-shadow: 0 0 1px 0 black;
  border-radius: 3px;
}

.box-header {
  background: #2c1154;
  margin: 0;
  color: #ccc;
}

.box-header h1 {
  margin: 0;
}

.box > * > .no-border {
  margin: -1em -1.4em;
}

.box-meta,
.box-body,
.box-footer {
  background-color: #eee;
}

.box-header,
.box-meta,
.box-body,
.box-footer {
  padding: 0.8em 1.4em;
}

.tabs {
  display: flex;
  margin: -0.8em -1.4em;
}

.tabs > span {
  flex: 1;
  text-align: center;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1em;
}

.tabs > span:first-child {
  border-left: none;
}

.tabs span.active {
  font-weight: bold;
}

.tabs span:not(.active):hover {
  background: rgba(0, 0, 0, 0.1);
}

.tabs a {
  display: block;
  color: #333;
  text-decoration: none;
  margin: -1em;
  padding: 1em;
}

.form input {
  border: none;
  border-bottom: 2px solid #ccc;
  display: block;
  padding: 0.5em;
  background-color: #eee;
  color: #222;
}

.form .form-row {
  margin-bottom: 1em;
}

.form .form-row:last-child {
  margin-bottom: 0;
}

.form .form-input-wrapper {
  position: relative;
}

.form .form-prefix {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
}

.form .form-prefix + input {
  padding-left: 2em;
}

.form .form-buttons {
  text-align: right;
}

.form-buttons button {
  border: none;
  background: #555;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  color: #eee;
  text-shadow: 0 0 1px #555;
}

.form-buttons button.confirm {
  background: #146614;
}

.form-buttons button.cancel {
  background: #661414;
}

.net {
  display: flex;
}

.net .net-node {
  flex: 1;
  text-align: center;
  position: relative;
}

.net-node .node-icon {
  margin: auto;
  display: block;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 5px 0 black;
  width: 100px;
}

.net .net-node:before,
.net .net-node:after {
  position: absolute;
  right: 0;
  top: calc(50% - 1.5em);

  content: '';
  background: rebeccapurple;
  width: 1em;
  height: 2em;
  clip-path: polygon(
    60% 0%,
    60% 20%,
    100% 20%,
    100% 80%,
    60% 80%,
    60% 100%,
    0% 50%
  );
}

.net .net-node:before {
  left: 0;
  clip-path: polygon(
    0% 20%,
    40% 20%,
    40% 0%,
    100% 50%,
    40% 100%,
    40% 80%,
    0% 80%
  );
}

.net .net-node:first-child:before,
.net .net-node:last-child:after {
  display: none;
}

.permissions ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.permissions ul li {
  margin-bottom: 1em;
  padding: 1em;
  background: rgba(0, 0, 0, 0.2);
}

.permissions ul li h3 {
  padding: 0;
  margin: 0;
}

.permissions ul li p {
  margin-bottom: 0;
}

form .description {
  font-size: 0.8em;
  margin: -1em 0 1em 0;
}
